/*----- CONTACT PAGE ----- */
.contact-page {
	header {
		background-image: url(../pictures/contact.jpg);/*Photo by Sergey Zolkin on Unsplash*/
	}
}
.contact {
	background-color: white;
	h3 {
		color: @black;
		margin-top: 8vh;
	}
	.contact-form {
		border: 1px solid @light-grey;
		padding: 25px;;
		margin-top: 5vh;
		margin-bottom: 2vh;
		input, select, textarea {
			margin-bottom: 20px;
			width: 100%;
		}
	}
	.mailbox-box {
		margin-bottom: 8vh;
	}
	.g-recaptcha {
		margin: 0 auto;
		width: 300px;
	}
}