/*----- MAIN PAGE ----- */
.container-fluid {
	padding: 0px;
}
/*----- Header specificities -----*/
.index-header-box {
	height: 98vh;
	.title-box {
		margin-top: 35vh;
	}
}
/*----- Section 2 - The Festival -----*/
.festival-section {
	background-color: #2580A6;
	padding-bottom: 6vh;
	h3 {
		color: @white;
	}
	.glyphicon-menu-down {
		background-color: @light-grey;
		border: 1px solid @black;
		font-size: @bigger-glyph;
		padding: 5px;
		top: -20px;
	}
	.columns {
		margin-top: 100px;
	}
	.column {
		margin-bottom: 20px;
	}
}

/*----- Section 3 The movies -----*/
.movies-section {
	background-color: @darker-transparency;
	padding-bottom: 0px;
	.four-views-section {
		display: flex;
		flex-wrap: wrap;
		padding: 0px;
		margin: 0px;
	}
	.carousel-picture {
		width: 100%;
	}
	.picture-poster, .poster-description {
		width: 33.333vw;
	}
	p {
		color: @white;
	}
}
/*----- Section 4 The news -----*/
.blog-section {
	background-color: @default-text-color;
	h3, h4, h5 {
		color: @main-background-color;;
	}
	h4 {
		margin-bottom: 4vh;
	}
}
/*----- Section 5 Contact -----*/
.contact-section {
	background-color: @main-background-color;
	.glyphicon-envelope {
		color: @default-text-color;
		padding-top: 10px;
	}
	h3 {
		color: @white;
		margin-right: 0px;
		margin-left: 0px;
		font-size: 150%;
	}
	p {
		margin-top: 6vh;
	}
	.btn {
		margin-top: 5vh;
	}
}
/*----- Section 6 Partners -----*/
.partners-section {
	background-color: @default-text-color;
	h3 {
		color: @main-background-color;
	}
	.legend-box {
		margin-top: -35px;
		padding-bottom: 8vh;
		background-color: white;
		border-top: 4px solid @light-grey;
	}
	margin-bottom: 2vh;
}