/*----- Legal mentions page -----*/
body {
	background-color: white;
}
.mentions-section {
	padding-top: 15vh;
	margin-bottom: 5vh;
	color: black;
	h1, h2 {
		color: @main-background-color;
		padding: 2vh;
	}
}
