/*----- Programme PAGE ----- */
.prog-page {
		header {
			background-image: url(../pictures/projector-background.jpeg);
		}
	.prog-bloc {
		h3 {
			padding-top: 5vh;
			padding-bottom: 5vh;
		}
		h4 {
			padding: 4vh;
			color: @black;
		}
		h5 {
			padding: 15px;
		}
		.movie-menu {
			margin: 11px;
			margin-top: 8vh;
			@media screen and (max-width: 550px) {
				margin-left: 0px;
			}
		}
		.movie-day-box {
			.poster-prog-img {
				width: 30vw;
				box-shadow: 4px 4px 4px black;
			}
		}
		.last-box {
			border-bottom: 2px solid @light-grey;
			margin-bottom: 11px;
		}
		a {
			color: white;
			background-color: @main-background-color;
			padding: 10px;
			border: 2px solid @light-grey;
			margin-left: 5px;
			margin-right: 5px;
		}
		a:hover {
			color: @main-background-color;
			background-color: white;
			text-decoration: none;
		}
		/* this will probably be deleted */
		.dropdown-menu {
			width: 70vw;
			padding: 15px;
			line-height: 1.5;
			@media screen and (min-width: 550px) {
				width: 65vw;
			}
			@media screen and (min-width: 850px) {
				width: 40vw;
			}
		}
		/*until here*/
		.btn {
			margin-top: 0px;
		}
		.to-top-button {
			margin-top: 0px;
			margin-bottom: 2vh;
		}
		.btn-group {
			margin-bottom: 2vh;
		}
		.modal {
			h3 {
				color: black;
			}
			.ticket-logo {
				margin-bottom: 35px;
			}
			.btn {
				text-align: left;
				width: 100%;
				@media screen and (min-width: 1000px) {
					width: 120%;
				}
			}
			label {
				margin: 15px;
				color: @main-background-color;
			}
			.submit-button {
				text-align: center;
				width: 80%;
				margin: 2vh;
			}
			.email-input {
				width: 80vw;
				@media screen and (min-width: 550px) {
					width: 20vw;
				}
			}
			strong {
				text-decoration: underline;
			}
		}
	}
}


/*test oh the new menu for movies*/
.tabs-menu {
	section {
	  display: none;
	  padding: 20px 0 0;
	  border-top: 1px solid #ddd;
	}

	input {
	  display: none;
	}

	label {
	  display: inline-block;
	  margin: 6vh 0 -1px;
	  padding: 15px 25px;
	  font-weight: 600;
	  text-align: center;
	  color: #bbb;
	  border: 1px solid transparent;
	}

	label:hover {
	  color: #888;
	  cursor: pointer;
	}

	input:checked + label {
	  color: #555;
	  border: 1px solid #ddd;
	  border-top: 2px solid #2580A6;
	  border-bottom: 1px solid #fff;
	}

	#day1:checked ~ #content-day-1,
	#day2:checked ~ #content-day-2,
	#day3:checked ~ #content-day-3,
	#day4:checked ~ #content-day-4 {
	  display: block;
	}

	@media screen and (max-width: 650px) {
	  label {
	    font-size: 0;
	  }
	  label:before {
	    margin: 0;
	    font-size: 18px;
	  }
	}

	@media screen and (max-width: 400px) {
	  label {
	    padding: 15px;
	  }
	}
}