/*----- Programme PAGE ----- */
.prog-page {
	background-color: @main-background-color;
}
.prog-bloc {
	h3 {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
	h4 {
		font-size: 200%;
		text-decoration: underline;
		padding: 4vh;
		color: white;
	}
	h5 {
		font-size: 150%;
		color: white;
		padding: 15px;
	}
	.poster-prog-img {
		width: 30vw;
		box-shadow: 4px 4px 4px black;
	}
	.movie-day-box {
		border-top: 2px solid @light-grey;
	}
	.last-box {
		border-bottom: 2px solid @light-grey;
		margin-bottom: 11px;
	}
	.movie-menu {
		margin: 11px;
		margin-top: 8vh;
		@media screen and (max-width: 550px) {
			margin-left: 0px;
		}
	}
	a {
		color: white;
		padding: 10px;
		border: 2px solid @light-grey;
		margin-left: 5px;
		margin-right: 5px;
	}
	a:hover {
		color: @main-background-color;
		background-color: white;
		text-decoration: none;
	}
	.dropdown-menu {
		width: 80vw;
		padding: 15px;
		line-height: 1.5;
		@media screen and (min-width: 550px) {
			width: 65vw;
		}
		@media screen and (min-width: 850px) {
			width: 40vw;
		}
	}
	.btn {
		margin-top: 0px;
	}
	.to-top-button {
		margin-top: 0px;
		margin-bottom: 2vh;
	}
	.btn-group {
		margin-bottom: 2vh;
	}
	.modal {
		h3 {
			color: black;
		}
		.btn {
			text-align: left;
			width: 100%;
		}
		label {
			margin: 15px;
			color: @main-background-color;
		}
		.submit-button {
			text-align: center;
			width: 30vw;
			margin: 2vh;
		}
		.email-input {
			width: 80vw;
			@media screen and (min-width: 550px) {
				width: 20vw;
			}
		}
	}
}