/*----- Programme PAGE ----- */
.prog-page {
	background-color: @main-background-color;
}
.prog-bloc {
	h3 {
		padding-top: 5vh;
	}
	h4 {
		font-size: 200%;
		text-decoration: underline;
		padding: 4vh;
		color: white;
	}
	h5 {
		font-size: 150%;
		color: white;
		padding: 15px;
	}
	.poster-prog-img {
		width: 30vw;
	}
	.movie-day-box {
		border-top: 2px solid @light-grey;
		margin-bottom: 2vh;
	}
	.movie-menu {
		margin: 11px;
		margin-top: 8vh;
	}
	a {
		color: white;
		padding: 10px;
		border: 2px solid @light-grey;
		margin-left: 5px;
		margin-right: 5px;
	}
	a:hover {
		color: @main-background-color;
		background-color: white;
		text-decoration: none;
	}
	.dropdown-menu {
		width: 35vw;
		padding: 15px;
		line-height: 1.5;
	}
	.btn {
		margin-top: 0px;
	}
}