/*----- NEWS PAGE ----- */
.news-page {
	/*background-image: url(../pictures/team.jpg);/*Photo by Sergey Zolkin on Unsplash*/
	.news-box {
		border-right: 2px solid @light-grey;
		border-left: 2px solid @light-grey;
	}
	.news {
		margin-bottom: 4vh;
		img {
			width: 20vh;
		}
		h4 {
			color: @black;
		}
		.date {
			font-size: 65%;
			color: @light-grey;
		}
	}
	aside {
		border-right: 2px solid @light-grey;
		.last-news {
			margin-bottom: 3vh;
			img {
				margin-bottom: 10px;
			}
		}
	}
}