/* ----- Footer ----- */
footer {
	background-color: @black;
	.footer-section {
		padding-top: 5vh;
		padding-bottom: 5vh;
		ul {
			list-style-type: none;
			padding-top: 2vh;
		}
		img {
			height: 100px;
			width: 100px;
		}
	}
	.fa {
			padding: 5px;
		    font-size: @bigger-glyph;
		    text-align: center;
		}
	.logo-section {
		border-right: 1px solid @light-grey;
		border-left: 1px solid @light-grey;
	}
}