/* ----- Footer ----- */
footer {
	background-color: @darker-transparency;

	.footer-section {
		padding-top: 5vh;
		padding-bottom: 5vh;

		ul {
			list-style-type: none;
		}

		img {
			height: 100px;
			width: 100px;
		}

		h3 {
			color: @white;
			margin: 0px;
		}

		a {
			color: @main-color;
			&:hover {
				color: @white;
			}
		}
	}

	.fa {
		padding: 2px;
	    font-size: @bigger-glyph;
	    text-align: center;
	}

	.btn {
		width: 33%;
	}

	.btn-primary {
		margin-top: 0px;
		margin-bottom: 1vh;
	}

	.logo-section {
		border-left: 1px solid @light-grey;
		border-right: 1px solid @light-grey;
	}
	
	.social-section, .logo-section, .link-section {
		min-height: 15vh;
	}
}